button{
    margin: 0.5rem;
    padding: 0.4rem;
    border-radius: 2rem;
    color:white;
    background-color: #e91e63;
    border-style: none;
    cursor: pointer;
    outline-style: none;
}

button:hover{
    transform: scale(0.95);
    color: #e91e63;
    background-color: yellow;
}

@media(max-width: 800px){
    button{
        margin: 0.3rem;
        font-size: small; 
    }
}